---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav class="flex w-3/6 mx-auto justify-between my-4 py-2">
  <h2 class="tracking-wider"><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex gap-4">
			<HeaderLink href="/">Base</HeaderLink>
			<HeaderLink href="/fragments">Fragments</HeaderLink>
			<HeaderLink href="/list">Ink & Pixels</HeaderLink>
		</div>
	</nav>
</header>
