---
import BlogPost from '../../layouts/BlogPost.astro';
import { getCollection } from '../../services/blog';
import {marked} from 'marked';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;

// Convert markdown to HTML
const content = marked(post.body);
---

<BlogPost {...post.data}>
  <div set:html={content}></div>
</BlogPost>
