$lightGreen: #23c4c4;
.app {
    .container {
        //login and register
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;
        }
    }
}