---
import Layout from '../layouts/BlogPost.astro';
import { getLogs } from '../services/logs';
import {marked} from 'marked';

const logs = await getLogs('logs');

const content = marked(logs.body);
---

<Layout
	title="Logs"
  description="list of resources, books, articles, and more"
	pubDate={new Date()}
	heroImage="/bg.jpg"
>
    <div class="log" set:html={content}></div>
</Layout>
